{% extends "base.html" %}
{% load mezzanine_tags static blog_tags keyword_tags pages_tags %}

{# The following extra blocks can be uncommetented for use if needed #}
{# block head_js_extra #}
{# {{ block.super }} #}
{# endblock #}

{# block stylesheets_extra #}
{# {{ block.super } #}
{# endblock #}

{% block head_extra %}
<style>
.ticker {
  width: 90%;
  margin: 2px auto;
}
.ticker .alert-link {
    text-decoration: none;
}
 /* The HTML list gets replaced with a single div,
    which contains the active ticker item, so you
    can easily style that as well */
.ticker div {
  display: inline-block;
  word-wrap: break-word;
}
</style>
{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_wrapper %}
{% endblock %}

{% block page_special %}

<!-- Header Carousel -->
        <header id="myCarousel" class="carousel slide" style="height: 250px; margin: 10 auto">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&amp;text=CEDA Image 1');"></div>
                    <div class="carousel-caption">
                        <h2>Expertise in Environmental Informatics</h2>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&amp;text=CEDA Image 2');"></div>
                    <div class="carousel-caption">
                        <h2>Petascale digital curation</h2>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&amp;text=CEDA Image 3');"></div>
                    <div class="carousel-caption">
                        <h2>Enabling Environmental Science</h2>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
        </header>

{% endblock %}

{# Override content_header to omit it #}
{% block content_header %}
{% endblock %}

{% block content_wrapper %}

	{% block main %}

        {% block notifications %}
        {% if messages %}
            <div class="col-md-6 col-md-offset-3">
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        <div class="alert alert-with-icon alert-success" role="alert">
                            <i class="fa fa-check-circle"></i> <span>{{ message }}</span>
                        </div>
                    {% elif 'error' in message.tags %}
                        <div class="alert alert-with-icon alert-danger" role="alert">
                            <i class="fa fa-exclamation-circle"></i> <span>{{ message }}</span>
                        </div>
                    {% elif 'warning' in message.tags %}
                        <div class="alert alert-with-icon alert-warning" role="alert">
                            <i class="fa fa-exclamation-triangle"></i> <span>{{ message }}</span>
                        </div>
                    {% else %}
                        <div class="alert alert-with-icon alert-info" role="alert">
                            <i class="fa fa-info-circle"></i> <span>{{ message }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% endblock %}

        {% block blog_recent_posts %}
            {% blog_recent_posts 3 as recent_posts %}
            {% if recent_posts %}
                <div class="alert alert-success alert-dismissable" data-alert="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-1">
                                <a href="{% url 'blog_post_list' %}" class="btn btn-default btn-xs">News</a>
                            </div>
                            <div class="ticker">
                                <ul>
                                {% for recent_post in recent_posts %}
                                    <li>
                                        <a href="{{ recent_post.get_absolute_url }}" class="alert-link">{{ recent_post.title }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            
        {% endblock %}


		<hr/>

		{% if homepage.boxes.all.count > 0 %}
			<div class="row">
                {% for box in homepage.boxes.all %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw {% if box.icon %}{{box.icon}}{% else %}fa-check{% endif %}"></i>{{ box.title }}</h4>
                        </div>
                        <div class="panel-body">
                            <p>{{ box.content|richtext_filters|safe }}</p>
                            {% if box.link %}
                            <a href="{{ box.link }}" class="btn btn-default">Learn More</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
			</div>
		{% endif %}



	{% endblock %}

{% endblock %}

{% block footer_js %}
{{ block.super }}
<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
<script src="{% static 'jquery-ticker/jquery.ticker.min.js' %}"></script>
<script>
            $('.ticker').ticker(
                $.fn.ticker.defaults = {
                    random:        false, // Whether to display ticker items in a random order
                    itemSpeed:     3000,  // The pause on each ticker item before being replaced
                    cursorSpeed:   30,    // Speed at which the characters are typed
                    pauseOnHover:  true,  // Whether to pause when the mouse hovers over the ticker
                    finishOnHover: true,  // Whether or not to complete the ticker item instantly when moused over
                    cursorOne:     '',   // The symbol for the first part of the cursor
                    cursorTwo:     '',   // The symbol for the second part of the cursor
                    fade:          true,  // Whether to fade between ticker items or not
                    fadeInSpeed:   50,   // Speed of the fade-in animation
                    fadeOutSpeed:  50    // Speed of the fade-out animation
                }
            );
</script>
{% endblock %}
