{% extends "pages/page.html" %}

{% load mezzanine_tags static columns %}

{% block main %}
<!-- Portfolio Item Row (image or logo, intro, icon) -->
<div class="row">
    <div class="col-md-4">
        
        {% if portfolioitem.notLogos %}
            {% for image in portfolioitem.notLogos %}
                {% if forloop.first %}

                    <img src="{{ MEDIA_URL }}{{ image.file }}" class="img-responsive">

                {% endif %}
            {% endfor %}
        {% elif portfolioitem.logo %}
                    <img src="{{ MEDIA_URL }}{{ portfolioitem.logo.file }}" class="img-responsive">
        {% else %}
                    <img src="http://placehold.it/300x200">
        {% endif %}

    </div>

    <div class="col-md-4">
            {% if portfolioitem.intro %}{{ portfolioitem.intro|safe }}{% endif %}
    </div>

    <div class="col-md-4">
        {% if portfolioitem.icon %}
            <span class="fa-stack fa-3x pull-right">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa {{portfolioitem.icon}} fa-stack-1x fa-inverse"></i>
            </span>
        {% else %}
            <span class="fa-stack fa-3x pull-right">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
            </span>
        {% endif %}
    </div>
        
</div> <!-- /.row -->

<!-- portfolio item row (content) -->
<br>
<div class="row">
        {{ portfolioitem.content | safe }}
        {% if portfolioitem.href %}<a href="{{ portfolioitem.href }}" class="btn btn-default">{% if portfolioitem.button_text %}{{portfolioitem.button_text}}{% else %}Learn more{% endif %}</a>{% endif %}
</div> <!-- /.row -->

<hr>
<!-- People -->
{% block people %}
{% if portfolioitem.persons.all.count > 0 %}
<h2>Responsible staff</h2>
{% with portfolioitem.persons.all as items %}
    <div id="row">
            <!-- Person List -->
            {% for col in items|columns:3 %}
                {% for item in col %}
                    {% with item.person as person %}
                    <div class="col-md-4 service-item">
                            <a class="inherit-color" href="#" data-toggle="modal" data-target="#modal-person-{{person.id}}">
                                <div class="media media-left">
                                    <span class="fa-stack fa-2x">
                                        
                                        {% if person.image %}
                                            <i class="fa fa-stack-2x text-primary"></i>
                                            <div class="thumbnail">
                                                <img src="{{ MEDIA_URL }}{% thumbnail person.image 255 255 %}">
                                            </div>
                                        {% else %}
                                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                        {% endif %}
                                    </span> 
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{% if person.title %}{{ person.title }} {% endif %}{{person.first_name}} {{person.last_name}}</h4>
                                    <p>{{person.job_title}}</p>
                                    
                                </div>
                            </a>
                        <div class="modal fade" id="modal-person-{{person.id}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{% if person.title %}{{ person.title }} {% endif %}{{person.first_name}} {{person.last_name}}</h4>{% if person.job_title %}<h5>{{ person.job_title }}</h5>{% endif %}
                                </div>
                                <div class="modal-body">
                                    <div class="media media-left">
                                        <span class="fa-stack fa-2x">
                                            {% if person.image %}
                                                <i class="fa fa-stack-2x text-primary"></i>
                                                <div class="thumbnail">
                                                    <img src="{{ MEDIA_URL }}{% thumbnail person.image 255 255 %}">
                                                </div>
                                            {% else %}
                                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                            {% endif %}
                                        </span>
                                        {{person.bio|safe}}
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>
                {% endwith %}
                {% endfor %}
            {% endfor %}
    </div>
{% endwith %}
{% endif %}
{% endblock %}

    
{% endblock %}

{% block right_wrapper %}{% endblock %}