body {
    padding-top: 140px;
}
.carousel-caption {
    text-shadow: 2px 2px 4px #000000;
}
/* Make the carousel controls only appear on hover */
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

/* formatting for service items */
.service-item {
    /* space out vertically */
    padding-bottom: 20px;
}
.service-item a {
    /* make hyperlinks within a service item inherit properties rather than applying colour & underline */
    color: inherit;
    text-decoration: inherit;
}